<div class="flex flex-row">
    <app-sidebar></app-sidebar>
    <div class="body-position">
        <div class="body-holder">
            <!-- <app-dashboard-head></app-dashboard-head> -->
            <div class="main">
                <div class="card flex justify-content-center">
                    <p-breadcrumb class="max-w-full" ></p-breadcrumb>
                </div>

                <div class="body-card">
                    <div class="table-head">
                        <p-toolbar>
                            <div class="p-toolbar-group-start">
                                <h2 class="h-color">User List</h2>
                            </div>
                            <div class="p-toolbar-group-end">
                                <p-button class="bg-b-color" routerLink="/add-product">
                                    <i class="bi bi-plus-lg" style="font-size: 20px;font-weight: bold;"></i>&nbsp;Add
                                    User
                                </p-button>
                            </div>
                        </p-toolbar>
                    </div>

                    <div class="card">
                        <p-table [value]="userList" >
                            <!-- //for table width [tableStyle]="{'min-width': '60rem'}" -->
                            <ng-template pTemplate="caption">
                                <div class="flex align-items-center justify-content-between">
                                    User
                                    <!-- <p-button icon="pi pi-refresh"></p-button> -->
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Email</th>
                                    <!-- <th class="text-center">Price</th>
                                    <th class="text-center">Category</th> -->
                                    <th class="text-center">Actions</th>
                                    <!-- <th>Reviews</th>
            <th>Status</th> -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-user>
                                <tr>
                                    <td class="text-center">{{user.id}}</td>
                                    <td class="text-center">{{user.name}}</td>
                                    <!-- <td class="text-center" *ngFor="let image of product.productImages">
                                        <img [src]="image.image" [alt]="product.name" width="120" class="shadow-4" /></td>
                                    <td class="text-center">{{product.price | currency:'USD'}}</td> -->
                                    <td class="text-center">{{user.email}}</td>
                                    <td class="text-center ml"> 
                                        <p-button routerLink="/edit-user" icon="bi bi-pen" class='mr' styleClass="p-button-rounded p-button-success p-button-text p-button-raised">
                                         
                                        </p-button>
                                         <p-button icon="bi bi-trash" class='ml' styleClass="p-button-rounded p-button-danger p-button-text p-button-raised">
                                        
                                         </p-button>
                                         <p-button icon="bi bi-eye-fill" class='ml-2 mr' styleClass="p-button-rounded p-button-danger p-button-text p-button-raised">
                                       
                                         </p-button>
                                      </td>

                                    <!-- <td>
                                        <div class="flex align-items-center justify-content-center gap-2">
                                            <button pButton pRipple type="button" icon="pi pi-pencil"
                                                class="p-button-rounded p-button-text"></button>
                                            <button pButton pRipple type="button" icon="pi pi-check"
                                                class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                            <button pButton pRipple type="button" icon="pi pi-times"
                                                class="p-button-rounded p-button-text p-button-danger"></button>
                                            <!-- *ngIf="!editing" *ngIf="editing" *ngIf="editing" -->
                                            <!-- pInitEditableRow pSaveEditableRow pCancelEditableRow -->
                                            <!-- (click)="onRowEditInit(product)"  (click)="onRowEditSave(product)" (click)="onRowEditCancel(product, ri)" -->
                                        <!-- </div>
                                    </td>  -->

                                    <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
                                    <!-- <td><p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag></td> -->
                                </tr>
                            </ng-template>
                            <!-- <ng-template pTemplate="summary">
                                <div class="flex align-items-center justify-content-between">
                                    <!-- In total there are {{products ? products.length : 0 }} products. -->
                                <!-- </div>
                            </ng-template>  -->
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>